# R files
.DS_Store
.Rproj.user
.Rhistory
.RData
.Rprofile
.Ruserdata
._bestageing2022.Rproj
._*
slurm*
*error.out
*slurm.out
renv.lock

# dirs
data/
figures/
output/
renv/
reports/
scripts/figures-ba/
scripts/test/
.secret
