# R files
.DS_Store
.Rproj.user
.Rhistory
.RData
.Rprofile
.Ruserdata
._bestageing2022.Rproj
._*
.idea/
slurm*
*error.out
*slurm.out
renv.lock
scripts/pubmed_query.R
scripts/miRetrieve.R

# dirs
data/
data-literature/
figures/
logs/
meetings/
output/
presentation/
renv/
reports/
references/
scripts/cite/
scripts/figures-ba/
scripts/helper/test/
scripts/miRetrieve/old/
scripts/test/
scripts/gpt/R/
scripts/gpt/test-python/
scripts/gpt/debug/
scripts/gpt/helper/
scripts/old

writing/
.secret

